body {
    margin: 0;
    line-height: normal;
}

 :root {
    /* fonts */
    --text-b: Inter;
    --font-poppins: Poppins;
    --h4-medium: Roboto;
    --font-plus-jakarta-sans: "Plus Jakarta Sans";
    --label-large-label: Manrope;
    /* font sizes */
    --font-size-mini: 15px;
    --font-size-17xl: 36px;
    --h4-medium-size: 20px;
    --text-b-size: 16px;
    --lead-lead-1-size: 18px;
    --heading-h3-size: 40px;
    --font-size-13xl: 32px;
    --font-size-sm: 14px;
    --font-size-16xl: 35px;
    --font-size-29xl: 48px;
    --font-size-5xl: 24px;
    --font-size-45xl: 64px;
    /* Colors */
    --neutral-1: #fff;
    --color-black: #000;
    --main-branding-5: #8892f0;
    --color-royalblue: #4372eb;
    --text-gray-7: #f1f2f6;
    --text-gray-900: #18191f;
    --character-title-85: rgba(0, 0, 0, 0.85);
    --color-gainsboro: #dedede;
    --color-darkslategray-100: #3a3a3a;
    --text-color: #252b42;
    --primary-color: #23a6f0;
    --second-text-color: #737373;
    --color-darkslateblue-100: rgba(40, 39, 82, 0.72);
    /* Gaps */
    --gap-11xl: 30px;
    --gap-mini: 15px;
    --gap-8xs: 5px;
    /* Paddings */
    --padding-21xl: 40px;
    --padding-16xl: 35px;
    /* border radiuses */
    --br-5xs: 8px;
    --br-8xs: 5px;
    --br-101xl: 120px;
    --br-3xs: 10px;
}

.informasi-mengenai-stunting-ui-child {
    position: absolute;
    top: 74px;
    left: 0;
    background-color: var(--main-branding-5);
    width: 1440px;
    height: 785px;
}

.baby-smile-positive-wallpaper-icon {
    position: absolute;
    top: 78px;
    left: 3px;
    border-radius: var(--br-3xs);
    width: 1434px;
    height: 777px;
    object-fit: cover;
}

.beberapa-info {
    position: absolute;
    top: 779px;
    left: 617px;
    font-size: var(--font-size-16xl);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 273px;
}

.informasi-mengenai-stunting-ui-item {
    position: absolute;
    top: 910px;
    left: -1px;
    background-color: var(--main-branding-5);
    width: 1440px;
    height: 1054px;
}

.baca-selengkapnya,
.baca-selengkapnya1,
.baca-selengkapnya2 {
    position: absolute;
    top: 1232px;
    left: 1149px;
    letter-spacing: 0.01em;
    line-height: 12px;
    text-transform: capitalize;
    font-family: var(--h4-medium);
    color: var(--neutral-1);
}

.baca-selengkapnya1,
.baca-selengkapnya2 {
    top: 1816px;
}

.baca-selengkapnya2 {
    top: 1526px;
    left: 353px;
}

.informasi-mengenai-stunting-ui-inner {
    position: absolute;
    top: 45px;
    left: 493.99px;
    width: 84.01px;
    height: 2px;
}

.pahami-cegah {
    margin: 0;
}

.pahami-cegah-stunting-container {
    position: absolute;
    top: 385px;
    left: 117px;
    font-size: var(--font-size-45xl);
    font-family: var(--text-b);
    color: var(--neutral-1);
}

.left-icon {
    position: relative;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    overflow: hidden;
}

.icon,
.icon1 {
    position: absolute;
    top: 426px;
    left: -13px;
    width: 120px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.icon1 {
    top: 408px;
    left: 1329px;
    rotate: 180deg;
}

.group-icon {
    position: absolute;
    top: 871px;
    left: 682px;
    width: 71px;
    height: 15px;
}

.ayo-peduli-partisipasi {
    position: absolute;
    top: 356px;
    left: 117px;
    font-size: var(--font-size-5xl);
    font-family: var(--text-b);
    color: var(--neutral-1);
}

.group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-3xs);
    background-color: var(--main-branding-5);
    width: 163px;
    height: 44px;
}

.artikel {
    position: absolute;
    top: 7px;
    left: 41px;
}

.rectangle-parent {
    position: absolute;
    top: 287px;
    left: 117px;
    width: 163px;
    height: 44px;
    font-size: var(--h4-medium-size);
    color: var(--neutral-1);
    font-family: var(--font-poppins);
}

.sulayman-branch {
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 110.5px);
    font-weight: 600;
}

.social-network-icon {
    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.social-network-parent {
    position: absolute;
    top: calc(50% - 20px);
    right: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-mini);
}

.footer-16,
.logo-icon {
    position: absolute;
    overflow: hidden;
}

.logo-icon {
    top: calc(50% - 40px);
    left: 11px;
    width: 220px;
    height: 80px;
    display: none;
}

.footer-16 {
    top: 4779px;
    left: -1px;
    background-color: #444cac;
    width: 1441px;
    height: 138px;
    color: var(--neutral-1);
    font-family: var(--text-b);
}

.group-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 var(--br-101xl) var(--br-101xl) 0;
    width: 689.24px;
    height: 275px;
    object-fit: fill;
}

.group-div,
.informasi-mengenai-stunting-ui-inner1 {
    position: absolute;
    top: 1059px;
    left: -1px;
    width: 689.24px;
    height: 275px;
}

.informasi-mengenai-stunting-ui-inner1 {
    top: 1626px;
}

.frame-child {
    position: relative;
    border-radius: var(--br-101xl) 0 0 var(--br-101xl);
    width: 689.24px;
    height: 275px;
    flex-shrink: 0;
    object-fit: fill;
    rotate: 180deg;
}

.frame-div {
    position: absolute;
    top: 1619px;
    left: 1440.24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: rotate(-180deg);
    transform-origin: 0 0;
}

.apa-saja-penyabab-container,
.generasi-bebas-stunting-container {
    position: absolute;
    font-size: var(--font-size-29xl);
    line-height: 16px;
    text-transform: capitalize;
    font-family: var(--font-poppins);
    color: var(--neutral-1);
}

.generasi-bebas-stunting-container {
    top: 1070px;
    left: 727px;
    align-items: center;
    width: 644px;
    height: 238px;
}

.apa-saja-penyabab-container {
    top: 1387px;
    left: 25px;
}

.ellipse-icon {
    position: absolute;
    height: 1.63%;
    width: 5.56%;
    top: 97.92%;
    right: 92.78%;
    bottom: 0.45%;
    left: 1.67%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.pada-tahun-2018 {
    position: absolute;
    top: 1169px;
    left: 730px;
    letter-spacing: 0.01em;
    line-height: 20px;
    text-transform: capitalize;
    font-family: var(--h4-medium);
    color: var(--color-darkslategray-100);
    display: flex;
    align-items: center;
    width: 249px;
}

.logo-of-the-ministry-of-health-icon {
    position: absolute;
    top: 942px;
    left: 440px;
    width: 158px;
    height: 61px;
    object-fit: cover;
}

.idi-1-icon,
.jawa-tengah-logo-3ff0655548-se-icon {
    position: absolute;
    top: 933px;
    left: 839px;
    width: 83px;
    height: 86px;
    object-fit: cover;
}

.idi-1-icon {
    left: 664px;
    width: 95px;
    height: 89px;
}

.bagaimana-pencegahan-stunting-container,
.malnutrisi-pada-ibu {
    position: absolute;
    text-transform: capitalize;
    font-family: var(--h4-medium);
}

.malnutrisi-pada-ibu {
    top: 1476px;
    left: 29px;
    letter-spacing: 0.01em;
    line-height: 20px;
    color: var(--color-darkslategray-100);
    display: flex;
    align-items: center;
    width: 240px;
}

.bagaimana-pencegahan-stunting-container {
    top: 1667px;
    left: 727px;
    font-size: var(--font-size-29xl);
    line-height: 16px;
    color: var(--neutral-1);
}

.stunting-bisa-dicegah-container {
    position: absolute;
    top: 1769px;
    left: 733px;
    letter-spacing: 0.01em;
    line-height: 20px;
    text-transform: capitalize;
    font-family: var(--h4-medium);
    color: var(--color-darkslategray-100);
    display: inline-block;
    width: 240px;
}

.simas-sistem {
    position: absolute;
    top: 1986px;
    left: 433px;
    font-size: var(--font-size-16xl);
    text-align: center;
}

.circle-box-circle-xl-mx-auto {
    position: relative;
    width: 149px;
    height: 149px;
    flex-shrink: 0;
}

.paragraph {
    position: relative;
    font-size: var(--text-b-size);
    letter-spacing: 0.2px;
    line-height: 26px;
    font-weight: 500;
    white-space: pre-wrap;
    text-align: center;
}

.icn-bxs-star-icon {
    position: relative;
    width: 22.01px;
    height: 22.01px;
    flex-shrink: 0;
    overflow: hidden;
}

.stars {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-8xs);
}

.h6,
.link {
    position: relative;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: 600;
    color: var(--primary-color);
}

.h6 {
    color: var(--text-color);
}

.card-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-mini);
}

.testimonials-card-item-2,
.testimonials-card-item-21,
.testimonials-card-item-22 {
    position: absolute;
    top: 277px;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--neutral-1);
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 41.777610778808594px 33.42px rgba(0, 0, 0, 0.05), 0 22.3363094329834px 17.87px rgba(0, 0, 0, 0.04), 0 12.521552085876465px 10.02px rgba(0, 0, 0, 0.04), 0 6.650102138519287px 5.32px rgba(0, 0, 0, 0.03), 0 2.767256498336792px 2.21px rgba(0, 0, 0, 0.02);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    width: 366px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-16xl);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-11xl);
}

.testimonials-card-item-21,
.testimonials-card-item-22 {
    left: 418px;
    width: 360px;
}

.testimonials-card-item-22 {
    left: 830px;
    width: 368px;
    height: 426px;
}

.penasaran-apa-saja,
.perfect-for-sales,
.testimonial1 {
    position: absolute;
    font-family: var(--label-large-label);
    display: inline-block;
}

.perfect-for-sales {
    width: 78.88%;
    top: 46px;
    left: 10.52%;
    font-size: 56px;
    letter-spacing: -1px;
    line-height: 62px;
    font-weight: 800;
    color: #151d21;
}

.penasaran-apa-saja,
.testimonial1 {
    font-size: var(--lead-lead-1-size);
    text-align: center;
}

.penasaran-apa-saja {
    top: 126px;
    left: 159.27px;
    line-height: 32px;
    color: var(--text-gray-900);
    width: 820px;
}

.testimonial1 {
    top: 0;
    left: 454px;
    letter-spacing: 0.1em;
    line-height: 26.5px;
    font-weight: 800;
    color: #4737ff;
    width: 289px;
}

.testimonial {
    position: absolute;
    top: 3303px;
    left: 121px;
    width: 1198px;
    height: 703.01px;
    font-size: var(--font-size-sm);
    color: var(--second-text-color);
}

.informasi-mengenai-stunting-ui-child1,
.informasi-mengenai-stunting-ui-child2 {
    position: absolute;
    top: 2204px;
    left: 779px;
    width: 159px;
    height: 159px;
}

.informasi-mengenai-stunting-ui-child2 {
    left: 1099px;
}

.b,
.situasi-gizi-di {
    position: absolute;
    top: 2132px;
    left: 29px;
    font-size: var(--font-size-13xl);
    text-align: center;
}

.b {
    top: 2380px;
    left: 192px;
}

.group-child1,
.image-1595-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 159px;
    height: 159px;
}

.image-1595-icon {
    top: 15px;
    left: 15px;
    width: 129px;
    height: 129px;
    object-fit: cover;
}

.ellipse-parent,
.pngwing-1-icon {
    position: absolute;
    top: 2204px;
    left: 459px;
    width: 159px;
    height: 159px;
}

.pngwing-1-icon {
    left: 803px;
    width: 110px;
    height: 140px;
    object-fit: contain;
}

.simas-sistem-informasi-container {
    position: absolute;
    top: 2047px;
    left: 162px;
    right: 200px;
    font-size: var(--h4-medium-size);
    text-align: center;
}

.pngwing-2-icon {
    position: absolute;
    top: 2234px;
    left: 1148px;
    width: 62px;
    height: 99px;
    object-fit: cover;
}

.b1,
.b2 {
    top: 2381px;
    font-size: var(--font-size-13xl);
}

.b1 {
    position: absolute;
    left: 514px;
    text-align: center;
}

.b2 {
    left: 836px;
}

.b2,
.b3,
.stunting-balita-ssgi {
    position: absolute;
    text-align: center;
}

.b3 {
    top: 2368px;
    left: 1128px;
    font-size: var(--font-size-13xl);
}

.stunting-balita-ssgi {
    top: 2438px;
    left: 162px;
}

.underweight-balita-ssgi,
.wasting-balita-ssgi {
    position: absolute;
    top: 2435px;
    left: 449px;
    text-align: center;
}

.underweight-balita-ssgi {
    top: 2431px;
    left: 749px;
}

.description {
    position: relative;
    display: inline-block;
    font-size: var(--lead-lead-1-size);
    line-height: 32px;
    color: var(--text-gray-7);
    width: 444px;
}

.label {
    position: relative;
    line-height: 30px;
}

.essential-icons-right-arrow {
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    overflow: hidden;
}

.content,
.link-button-label-arrow {
    display: flex;
    justify-content: flex-start;
}

.link-button-label-arrow {
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: var(--h4-medium-size);
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-21xl) 48px;
    align-items: flex-start;
    gap: 32px;
}

.on-the-way-pana-1-1 {
    position: absolute;
    top: 52px;
    left: 665px;
    width: 531px;
    height: 378px;
    object-fit: contain;
}

.content-group,
.cta {
    position: absolute;
    left: calc(50% - 598px);
    width: 1196px;
    height: 600px;
}

.content-group {
    top: calc(50% - 240.5px);
    border-radius: 16px;
    background-color: var(--color-royalblue);
}

.cta {
    top: calc(50% + 1708.5px);
    box-shadow: 0 100px 80px rgba(149, 149, 149, 0.07), 0 41.777610778808594px 33.42px rgba(149, 149, 149, 0.05), 0 22.3363094329834px 17.87px rgba(149, 149, 149, 0.04), 0 12.521552085876465px 10.02px rgba(149, 149, 149, 0.04), 0 6.650102138519287px 5.32px rgba(149, 149, 149, 0.03), 0 2.767256498336792px 2.21px rgba(149, 149, 149, 0.02);
    font-size: var(--heading-h3-size);
    color: var(--neutral-1);
    font-family: var(--label-large-label);
}

.asi-eksklusif-ssgi {
    position: absolute;
    top: 2431px;
    left: 1085px;
    text-align: center;
}

.kisspng-infant-computer-icons- {
    position: absolute;
    top: 37px;
    left: 23px;
    width: 112px;
    height: 86px;
    object-fit: contain;
}

.ellipse-group {
    position: absolute;
    top: 2204px;
    left: 162px;
    width: 159px;
    height: 159px;
}

.title {
    position: relative;
    line-height: 28px;
    font-weight: 500;
}

.wrapper {
    overflow: hidden;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.heading-left,
.page-header {
    display: flex;
    justify-content: flex-start;
}

.heading-left {
    overflow: hidden;
    flex-direction: row;
    padding: 6px 0;
    align-items: center;
}

.page-header {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--main-branding-5);
    flex-direction: column;
    padding: 16px 24px;
    box-sizing: border-box;
    align-items: flex-start;
    color: var(--character-title-85);
    font-family: var(--h4-medium);
}

.group-child3 {
    border-radius: var(--br-5xs);
    background-color: var(--neutral-1);
}

.group-child3,
.rectangle-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.pencarian,
.search-icon {
    position: absolute;
    height: 67.65%;
    top: 11.76%;
}

.search-icon {
    width: 14.29%;
    right: 81.37%;
    bottom: 20.59%;
    left: 4.35%;
    border-radius: var(--br-5xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.pencarian {
    width: 50.93%;
    left: 24.84%;
    line-height: 22px;
    display: inline-block;
}

.group-parent {
    position: absolute;
    height: 51.52%;
    width: 11.18%;
    top: 22.73%;
    right: 5.63%;
    bottom: 25.76%;
    left: 83.19%;
    font-size: var(--font-size-mini);
    color: #b7b7b7;
    font-family: var(--text-b);
}

.down-icon {
    position: relative;
    width: 13px;
    height: 13px;
    flex-shrink: 0;
    overflow: hidden;
}

.icon4 {
    position: absolute;
    height: 19.7%;
    width: 1.18%;
    top: 40.91%;
    right: 48.47%;
    bottom: 39.39%;
    left: 50.35%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.kategori {
    position: absolute;
    top: 25.76%;
    left: 43.82%;
    cursor: pointer;
}

.beranda {
    position: absolute;
    top: 27.27%;
    left: 34.17%;
    color: var(--neutral-1);
}

.icon5 {
    height: 19.7%;
    width: 1.18%;
    top: 40.91%;
    right: 40.69%;
    bottom: 39.39%;
    left: 58.13%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.berita,
.icon5,
.icon6 {
    position: absolute;
}

.berita {
    top: 25.76%;
    left: 53.47%;
    cursor: pointer;
}

.icon6 {
    height: 19.7%;
    width: 1.18%;
    top: 40.91%;
    right: 28.96%;
    bottom: 39.39%;
    left: 69.86%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.peran-anda {
    position: absolute;
    top: 25.76%;
    left: 61.25%;
    cursor: pointer;
}

.icon7 {
    position: absolute;
    height: 19.7%;
    width: 1.18%;
    top: 40.91%;
    right: 18.89%;
    bottom: 39.39%;
    left: 79.93%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.publikasi {
    position: absolute;
    top: 25.76%;
    left: 72.99%;
    cursor: pointer;
}

.user-regular-icon {
    position: absolute;
    flex-shrink: 0;
    overflow: hidden;
}

.wireframe-avatar {
    position: absolute;
    height: 75.76%;
    width: 3.47%;
    top: 12.12%;
    right: 1.32%;
    bottom: 12.12%;
    left: 95.21%;
    border-radius: 50px;
    background-color: #000;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-child {
    position: absolute;
    height: 83.33%;
    width: 3.82%;
    top: 9.09%;
    right: 95.35%;
    bottom: 7.58%;
    left: 0.83%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}

.group-child4,
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
}

.header {
    height: 66px;
    font-size: var(--h4-medium-size);
    font-family: var(--font-poppins);
}

.group-child4 {
    background-color: #f5f5f5;
    height: 642px;
}

.bupati-sekda-dan-container,
.konsultasi-serta-cek-container,
.monitoring-evaluasi-dan-container {
    position: absolute;
    top: 511px;
    left: 779px;
    font-size: var(--font-size-mini);
    text-align: left;
}

.bupati-sekda-dan-container,
.konsultasi-serta-cek-container {
    top: 270px;
    left: 754px;
}

.bupati-sekda-dan-container {
    top: 497px;
    left: 104px;
}

.masyarakatorang-tua {
    top: 188px;
    left: 871px;
}

.desapuskesmas,
.eksekutif,
.masyarakatorang-tua,
.posyandu {
    position: absolute;
    color: var(--main-branding-5);
}

.posyandu {
    top: 181px;
    left: 199px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 167px;
    height: 44px;
}

.desapuskesmas,
.eksekutif {
    top: 422px;
    left: 901px;
}

.eksekutif {
    left: 199px;
}

.span {
    color: var(--color-royalblue);
}

.aplikasi {
    color: var(--main-branding-5);
}

.pengguna-aplikasi {
    position: absolute;
    top: 33px;
    left: 541px;
}

.emojione-monotonefamily-icon,
.material-symbolshome-health-o-icon {
    position: absolute;
    top: 158px;
    left: 107px;
    width: 65px;
    height: 73px;
    overflow: hidden;
}

.emojione-monotonefamily-icon {
    top: 155px;
    left: 754px;
    width: 95px;
    height: 95px;
}

.fa-regularhospital-icon,
.mdichart-finance-icon {
    position: absolute;
    top: 396px;
    left: 92px;
    width: 95px;
    height: 95px;
}

.fa-regularhospital-icon {
    left: 779px;
    width: 83.13px;
}

.pencatatan-dan-pelaporan-container {
    position: absolute;
    top: 239px;
    left: 104px;
    font-size: var(--font-size-mini);
    text-align: left;
    display: flex;
    align-items: center;
    width: 474px;
    height: 62px;
}

.rectangle-container {
    position: absolute;
    top: 2526px;
    left: 0;
    width: 1440px;
    height: 642px;
    text-align: center;
    font-size: var(--font-size-17xl);
    font-family: var(--text-b);
}

.informasi-mengenai-stunting-ui {
    position: relative;
    background-color: var(--neutral-1);
    width: 100%;
    height: 4917px;
    text-align: left;
    font-size: var(--text-b-size);
    color: var(--color-black);
    font-family: var(--font-plus-jakarta-sans);
}

#link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: var(--text-b-size);
    color: rgb(183, 0, 0);
    font-family: var(--font-plus-jakarta-sans);
    text-decoration: none;
}

label {
    font-size: small;
}